.Resume {
  font-family: Calibri, 'Arial Narrow Bold', sans-serif;
  min-width: 310px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-right: 2vw;
  padding-bottom: 12px;
}

.Resume-body {
  border-radius: 24px;
  margin-left: 3vw;
  margin-top: 2vh;
  padding-left: 18px;
  padding-top: 1px;
  padding-bottom: 4px;
  padding-right: 16px;
  text-align: justify;
  text-indent: 24px;
  background-color: lemonchiffon;
}

.Menu {
  border-radius: 14px;
}

hr {
  margin-top: 12px;
  margin-bottom: 32px;
}

a:link {
  color: darkslateblue;
}

a:visited {
  color: fuchsia;
}

@media screen and (min-width: 600px) {
  .Resume {
    max-width: 800px;
    padding-left: 160px;
  }

  .Header {
    justify-content: center;
  }
}
